.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input[type="text"],
input[type="password"] {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #4001d2;
  border: 1px solid #4001d2;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #ffffff;
  color: black;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
